<div class="section">
  <div class="container">
    <div class="user-profile">
      <div class="profile-img">
        <img src="{{profileImgPath}}" alt="{{profileImgName}}">
      </div>

      <h1 class="title is-2" id="{{_id}}">{{username}}</h1>
      {{#if mapLayer}}
      <ul>
        <h4>My favourites map filters:</h4>
        {{#each mapLayer}}
        <li class="button is-danger is-outlined delete-filter">
          <span class="layer-id">{{this}}</span>

          <i class="fas fa-times icon is-small"></i>

        </li>
        {{/each}}
      </ul>
      {{else}}
      <h4>You don't have any favoutite map filters yet</h4>
      {{/if}}

      <div class="field">
        <div class="control">
          <div class="button is-danger">Delete profile</div>
        </div>
      </div>

    </div>
  </div>
</div>


<script>


  function updatFilters(activeLayer) {
    axios
      .post(`${PROJECT_URL}/delete`, { activeLayer })
      .then(res => {
        console.log(res)
      })
      .catch(err => {
        console.error(err);
      });
  }


  //user profile remove filer

  document.querySelectorAll(".delete-filter .icon")
    .forEach(el => {
      el.addEventListener("click", function (e) {
        const activeLayer = e.target.parentElement.children[0].innerHTML
        const parent = document.querySelector("ul")

        updatFilters(activeLayer)
        parent.removeChild(e.target.parentElement)
      })
    })

</script>