<!DOCTYPE html>
<html lang="en" class="is-clipped">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"> --}}
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto:400,500,700,900" rel="stylesheet">

  <script src="/javascripts/constants.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <div class="container-fluid">

    {{!-- top navbar --}}
    <nav class="navbar" role="navigation" aria-label="main navigation">

      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Visum
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
          <a class="navbar-item" href="/map">
            New York City
          </a>
        </div>

        <div class="navbar-end">
          {{#if isAuthenticated}}
          <div class="navbar-item user-details">
            <a href="/auth/profile" class="navbar-item-profile">
              <span class="username">{{username}}</span>
            </a>
            <a href="/auth/profile">
              <img src="{{profileImgPath}}" alt="" class="profile-pic">
            </a>
          </div>

          <a href="/auth/logout" class="navbar-item">
            Logout
          </a>

          {{else}}

          <div class="navbar-item">
            <div class="buttons">
              <a class="button signup-btn is-primary login-signup-btn">
                <strong>Login / Signup</strong>
              </a>
            </div>
          </div>
          {{/if}}
        </div>
      </div>

    </nav>

    {{{body}}}

    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="login-modal">
          <ul class="tab-group">
            <li class="tab active login"><a href="#login">Log In</a></li>
            <li class="tab signup"><a href="#signup">Sign Up</a></li>
          </ul>

          <div class="tab-content">
            {{!-- signup --}}
            <div id="signup" class="">
              <h1 class="title is-3">Sign Up for Free!</h1>

              <form action="/auth/signup" method="POST" id="form-container-signup" enctype="multipart/form-data">
                <div class="field">
                  <label for="photo" class="label">Profile picture</label>
                  <div class="control">
                    {{!-- <input type="file" name="photo" class="input"> --}}
                    <div class="file">
                      <label class="file-label">
                        <input class="file-input" type="file" name="photo">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label for="username" class="label">Username</label>
                  <div class="control">
                    <input type="text" name="username" placeholder="JonSnow" class="input">
                  </div>
                </div>

                <div class="field">
                  <label for="password" class="label">Password</label>
                  <div class="control">
                    <input type="password" name="password" placeholder="Your password" class="input">
                  </div>
                </div>
                {{#if message }}
                <div class="error-message">{{ message }}</div>
                {{/if}}

                <div class="field is-grouped-right is-grouped">
                  <div class="control">
                    <button class="button is-primary">Create account</button>
                  </div>
                </div>
              </form>
            </div>


            {{!-- login form --}}
            <div id="login" class="active">
              <h1 class="title is-3">Welcome back!</h1>
              <form action="/auth/login" method="POST" id="form-container-login">

                <div class="field">
                  <label for="username" class="label">Username</label>
                  <div class="control">
                    <input type="text" name="username" placeholder="JonSnow" class="input">
                  </div>
                </div>

                <div class="field">
                  <label for="password" class="label">Password</label>
                  <div class="control">
                    <input type="password" name="password" placeholder="Your password" class="input">
                  </div>
                </div>

                {{#if message }}
                <div class="error-message">{{ message }}</div>
                {{/if}}

                <div class="field is-grouped-right is-grouped">
                  <div class="constrol">
                    <button class="button is-primary">Login</button>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
    </div>

  </div>

  <script src="/javascripts/basic-dom.js"></script>
</body>

</html>